nav li{
	display: inline;
	padding: 4px;
	font-family: Georgia, Times, serif;
}

body {
	background-color: #FFF;
	margin: 0 auto;
}

#introduction {
	background-color: #0F0F03;
	padding: 15px;
	margin: 10px;
	border-color: #F31320;
	border-style: solid;
	color: #F2E527;
}
#details {
	background-color: #0F0F03;
	border-style: solid;
	margin: 10px;
	border-color: #F31320;
	padding: 15px;
	color: #F2E527;
	
}

a {
	text-decoration: none;
	color: #F2E527;
	border-style: solid;
	border-color: #F31320;
	border-width: 2px;
	padding: 3px;
	background-color: #0F0F03;
	display: inline-block;
}
