
@font-face{
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue.otf');
}

@font-face{
		font-family: 'OSP-DIN';
	src: url('../fonts/OSP-DIN.ttf');
}

h1 {
	font-family:OSP-DIN, arial;
	color: #F2E527;
	font-size: 255%;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5em;
	text-align: center;
	text-shadow: 3px -1px 1px #000;
	background-color: #F31320;
	margin: 0px auto;
	padding: 7px;
	

	
}
#shadowbox{
	box-shadow: -1px 0px 5px 3px #000;
	width: 75%;
	border-color: #F31320;
	border-style: solid;
	border-radius: 10px 10px 0px 0px;
	margin: 0px auto;
}
h2{
	font-family:OSP-DIN, arial;
	color: #F2E527;
	font-size: 165%;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5em;
	text-align: left;
	background-color: #F31320;
	padding: 0px 10px;
}
h3{
	font-family:OSP-DIN, arial;
	color:  #F31320;
	font-size: 120%;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5em;
	
	text-indent: 0px;
	background-color: #F2E527;
	padding: 0px 8px;
	
}
nav ul{
	padding: 0px;
}
nav li{
	display: inline;	
}


body {
	background-color: #F3D626;
	text-align: justify;
	font-family:  sans-serif;
	font-size:90%;
	color: #F2E527;
}
header {
	background-color: #0F0F03;

	padding: 7px;

	font-family: OSP-DIN, arial;
	font-size: 115%;
	margin: 0px auto;
	word-spacing: .5em;
	text-align:center;
	
}

#introduction {
	background-color: #0F0F03;

	padding: 7px;
	margin: 0px auto;

	color: #F2E527;
	
}
#details {
	background-color: #0F0F03;

	padding: 7px;
	margin: 0px auto;

	color: #F2E527;
	
	
}
a:link {
	text-decoration: none;
	color: #F2E527;
	background-color: #0F0F03;
	display: inline-block;
}
a:hover{
	background-color: #F2E527;
	color: #0F0F03;
}
a:visited{
	color: #F4941F;
}
a:active{
	background-color: #F2E527;
}
aside{
	background-color: #0F0F03;
	width:50%;
	font-size: 75%;
	
	font-family: georgia, times;
	
}
figure{
	border-style: solid;
	border-color: #F31320;
	border-width: 2px;
	padding: 3px;
	width: 250px;
	height: 230px;
	display: inline-block;
}
ol{
	list-style-type:lower-roman;
}