/* fonts */
@font-face{
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue.otf');
}

@font-face{
		font-family: 'OSP-DIN';
	src: url('../fonts/OSP-DIN.ttf');
}

/* container that adds drop shadow to main content */
#shadowbox{
	box-shadow: -1px 5px 15px 3px #000;
	width: 75%;
	border-color: #F31320;
	border-style: solid;
	border-radius: 10px 10px 0px 0px;
	margin: 0px auto;
	overflow: auto;
	background-color: #0F0F03;
}

/* navigation */
header {
	background-color: #0F0F03;
	padding: 7px;
	font-family: OSP-DIN, arial;
	font-size: 115%;
	margin: 0px auto;
	word-spacing: .5em;
	text-align:center;
	
}

nav ul{
	padding: 0px;
}

nav li{
	display: inline;	
}

/* main content */
h1 {
	font-family:OSP-DIN, arial;
	color: #F2E527;
	font-size: 255%;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5em;
	text-align: center;
	text-shadow: 3px -1px 1px #000;
	background-color: #F31320;
	margin: 0px auto;
	padding: 7px;	
}

h2{
	font-family:OSP-DIN, arial;
	color: #F2E527;
	font-size: 165%;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5em;
	text-align: left;
	background-color: #F31320;
	padding: 0px 10px;
}

body {
	background-color: #F3D626;
	background-image: url("../images/smashbg.png");
	text-align: justify;
	font-family:  sans-serif;
	font-size:90%;
	color: #F2E527;
}

#column1{
	float: left;
	width: 30%;
	background-color: #0F0F03;
	padding: 7px;
	margin: 0px auto;
	color: #F2E527;	
}

#column2{
	float: left;
	width: 30%;
	background-color: #0F0F03;
	padding: 7px;
	margin: 0px auto;
	color: #F2E527;	
}
#column3{
	float: left;
	width: 30%;
	background-color: #0F0F03;
	padding: 7px;
	margin: 0px auto;
	color: #F2E527;	
}

#introduction {
	background-color: #0F0F03;
	padding: 7px;
	margin: 0px auto;
	color: #F2E527;
	width: 50%;
}

#boxart{
	margin: 0px 15px;
	float: left;
	width: 231px;
}
/*.column {
	background-color: #0F0F03;
	padding: 7px;
	margin: 0px auto;
	color: #F2E527;	
}
*/
h3{
	font-family:OSP-DIN, arial;
	color:  #F31320;
	font-size: 120%;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5em;
	text-indent: 0px;
	background-color: #F2E527;
	padding: 0px 8px;	
}

ol{
	list-style-type:lower-roman;
}

/* hyperlinks*/
a:link {
	text-decoration: none;
	color: #F2E527;
	background-color: #0F0F03;
	display: inline-block;
}
a:hover{
	background-color: #F2E527;
	color: #0F0F03;
}

a:visited{
	color: #F4941F;
}

a:active{
	background-color: #F2E527;
}

figure{
	border-style: solid;
	border-color: #F31320;
	border-width: 2px;
	padding: 3px;
	width: 250px;
	height: 230px;
	display: inline-block;
}
/* footer */
footer{
	background-color: #0F0F03;
	font-size: 75%;
	clear: both;
}
/* aside section */
aside{
	background-color: #0F0F03;
	width:75%;
	font-size: 75%;
	float: left;
	font-family: georgia, times;
	
}